@import "bourbon"
@import "neat"

@import "fonts"

@import "vars"

*
	padding: 0
	margin: 0
	box-sizing: border-box


html, body
	height: 100%



.page
	min-width: 320px
	padding: 0
	margin: 0
	font-size: 16px
	line-height: 1.6
	width: 100%
	font-weight: normal
	font-family: "Ubuntu", serif

	&__head
		display: table
		width: 100%
		text-align: center
		padding: 10px 0
	&__content
		width: 85%
		padding: 30px 0
		margin: 0 auto
		color: #fff

//Шапка
.head
	&__item
		display: table-cell
		vertical-align: middle
	&__logo
		width: 20%
	&__event
		width: 60%
	&__clock
		width: 20%

.logo
	&__link
		display: inline-block
		text-decoration: none
		&:hover
			text-decoration: none
	&__img
		max-width: 100px
		height: auto
		vertical-align: top

.event
	&__name
		font-weight: bold
		font-size: 3.5em
.clock
	&__item
		font-size: 2em

//Меню
.nav
	position: absolute
	bottom: 0
	width: 60%
	margin: 0 auto
	left: 0
	right: 0
	text-align: center
	padding: 5px 20px
	border-top-left-radius: 10em
	border-top-right-radius: 10em
	&__list
		list-style-type: none
	&__item
		display: inline-block
		width: 24%
	&__link
		cursor: pointer
		font-size: 1.5em
	&__icon
		margin-right: 10px


//Слайдер
.content
	&__viewport
		width: 100%
		display: table
		position: relative
		overflow: hidden
	&__wrapper
		position: relative
		transition: all 1.5s ease-in-out
	&__item
		float: left
		overflow: hidden
		display: inline
