include components/mixin
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		include components/style
		block title
	//Как и написанно в тз , можно вставить любую картинку или цвет
	body.page(style="background: url(http://www.fonstola.ru/download.php?file=201111/2560x1440/fonstola.ru-53796.jpg) no-repeat center; background-size: cover")
		//Шапка начало
		header.page__head
			.head__item.head__logo
				a(href="#" class="logo__link")
					img(src="http://lorempixel.com/output/nature-q-c-300-300-1.jpg", class="logo__img" alt="logo")
			.head__item.head__event
				.event__name(style="color:#fff")  Lorem ipsum dolor.
			.head__item.head__clock
				.clock__item(style="color:#fff") 12:00
		//Шапка конец
		//Меню начало
		nav.nav(style="background-color:green")
			ul.nav__list
				li.nav__item
					span.nav__link(style="color:#fff" onclick="getSlide('social')")
						<i class="fa fa-rss nav__icon" aria-hidden="true"></i>
						span.nav__text Social
				li.nav__item
					span.nav__link(style="color:#fff" onclick="getSlide('agenda')")
						<i class="fa fa-trophy nav__icon" aria-hidden="true"></i>
						span.nav__text Agenda
				li.nav__item
					span.nav__link(style="color:#fff" onclick="getSlide('games')")
						<i class="fa fa-calendar-o nav__icon" aria-hidden="true"></i>
						span.nav__text Games
				li.nav__item
					span.nav__link(style="color:#fff" onclick="getSlide('partners')")
						<i class="fa fa-star nav__icon" aria-hidden="true"></i>
						span.nav__text Partners
		//Меню конец
		//Контент начало
		.page__content
			.content__viewport
				.content__wrapper
					//Слайд начало
					.content__item(data-slider="social")
						p  1Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, repudiandae!
					.content__item(data-slider="agenda")
						p  2Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est et corporis libero saepe deleniti officia nemo explicabo obcaecati sit, enim, ex quo maiores assumenda itaque magnam, vero recusandae fuga earum.
					.content__item(data-slider="games")
						p   3Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate maiores ipsa adipisci provident quasi eligendi consequatur sapiente nostrum ipsam dolores culpa in, eos accusamus a esse! Modi, dolorem placeat, voluptatibus alias consectetur veritatis quis accusantium dignissimos quo quas libero doloribus maiores dicta exercitationem eum id consequatur ut quae dolorum nobis?
					.content__item(data-slider="partners")
						p   4Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eius, asperiores eveniet. Provident rerum, rem maxime non consequatur neque id quae illo assumenda suscipit explicabo ipsum tenetur obcaecati reiciendis, dolores eum eligendi corporis ea iste aliquam, nulla repellat at. Sint unde tempore earum esse reiciendis quibusdam ipsa sequi nulla, aperiam magnam fugiat asperiores repellendus ut nihil dolorum laudantium officiis assumenda eaque totam eius, sit animi alias commodi. Praesentium maxime, quam facere voluptatum dolorum. Doloremque tempore, accusamus ipsum et fugiat, at!
		include components/js

